Host *
  AddKeysToAgent yes
  IgnoreUnknown UseKeychain
  UseKeychain yes
  IdentityFile ~/.ssh/id_rsa

Host mypi
    HostName 192.168.0.8
    User pi

Host static
    HostName static.blay.se
    User monki

Host dyno
    HostName dyno.blay.se
    User monki


