"*":
  "file-types":
    txt: "source.gfm"
  "exception-reporting":
    userId: "ecdea67a-2596-5841-bc45-dbed81a1f5af"
  welcome:
    showOnStartup: false
  core:
    disabledPackages: [
      "keyboard-sounds"
      "typewriter-sounds"
      "irregular-keypress-sounds"
      "markdown-writer"
      "title-case"
    ]
    themes: [
      "seti-ui"
      "writer-syntax"
    ]
  "one-dark-ui": {}
  editor:
    invisibles: {}
    fontFamily: "GNU FreeFont"
  "markdown-preview": {}
  "spell-check": {}
  "autocomplete-plus":
    enableAutoActivation: false
  minimap:
    plugins:
      "minimap-autohide": true
      selection: true
    displayCodeHighlights: false
  "linter-write-good": {}
  linter:
    lintOnChange: false
    lintOnEditorFocus: false
    clearOnChange: true
    showErrorPanel: false
  typewriter: {}
  Zen:
    softWrap: true
  wordcount: {}
  "todo-show": {}
  "notational-velocity":
    directory: "/Users/svartfax/notes/timenotes/"
  "markdown-writer":
    siteEngine: "jekyll"
    siteImagesDir: "images/"
    siteLocalDir: "/Users/svartfax/notes/l.magnu.se"
    sitePostsDir: "_posts/"
    siteUrl: "http://l.magnu.se"
  "tree-view":
    showOnRightSide: true
  nvatom:
    directory: "/Users/svartfax/notes/timenotes/"
  "writer-syntax":
    themeVariant: "Dark"
"source.gfm":
  editor:
    softWrap: true
